@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid rgb(226, 225, 225);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.nav-logo img {
  width: 1.2rem;
}
.nav-brand {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: cursive, "Roboto", sans-serif;
  color: rgb(14, 13, 13);
}

.cart a img {
  width: 25px;
}
/********************** MENU *********************/
.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0 30px;
  }
  .cart {
    margin-left: 50px;
  }
}
/********************** MENU END *********************/

/********************** FOOTER *********************/

footer {
  background-color: #b4dfe5;
  width: 100%;
  margin-top: 10px;
  padding: 1rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
}

/********************** FOOTER END *********************/

/***********************START index.html ********************/
.search-container input,
img {
  margin: 0;
  padding: 0;
}
.search-container form {
  display: flex;
  border: 1px solid rgb(243, 239, 239);
}
.search-container input {
  padding: 6px;
  font-size: 1rem;
}

.nav-menu .search-container button {
  padding: 6px 8px;
  background-color: rgb(226, 219, 219);
  cursor: pointer;
}

.nav-menu .search-container button:hover {
  background: #ccc;
}

.top {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 0;
}
.top h1 {
  font-weight: 500;
  font-size: 3rem;
}
.top hr {
  border: 1px solid rgb(243, 240, 240);
  width: 300px;
}
.top-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.top-images img {
  max-width: 300px;
  max-height: 300px;
}

.btn.shop-now {
  padding: 15px 35px;
  font-size: 1.2rem;
  background-color: #606060;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.btn.shop-now:hover {
  background-color: #101010;
}

/*********************** END index.html ********************/

/*********************** END products.html ********************/
#product-show {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-images {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: rgb(202, 201, 201);
}
.main-product-image img {
  width: min(100%, 35rem);
  height: 20rem;
}
.other-product-images {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.other-product-images img {
  width: 25%;
}

.product-stats {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.product-stats .title {
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
}
.title .stars {
  margin-top: 0.5rem;
}
.title .stars > .review-count {
  margin-left: 0.5rem;
}
.select-model {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}

#add-to-cart {
  margin: 2rem 0;
  padding: 0.7rem 2rem;
  background-color: rgb(90, 88, 88);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
.product-description p {
  padding: 2rem 0;
  border-bottom: 2px solid gray;
}
#woodsworth-and-black-fountain {
  border: 1px solid gray;
  padding: 3px 5px;
}

#similar-products {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  border-top: 2px solid #cfcccc;
  border-bottom: 2px solid #cfcccc;
}
#similar-products > h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: orangered;
}
.sim-prod img {
  width: 8rem;
}
.sim-prod {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.sim-prods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.prod-short {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.prod-short h3 {
  text-align: center;
}
/**************** REVIEWS SECTION ********************/
#reviews {
  margin: 1rem 1rem 3rem 1rem;
  padding: 1rem;
}
#reviews > h2 {
  margin-bottom: 1.5rem;
  color: #0c7aad;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.review-item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.review-first-part {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
.review-first-part img {
  width: 5rem;
  border-radius: 50%;
}
img.star {
  width: 1.3rem;
}
.stars {
  display: flex;
  align-items: center;
}
/*********************** END products.html ********************/

/*********************** CART **********************/

.cart-top {
  background-color: rgb(199, 197, 197);
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  border-bottom: 2px solid rgb(218, 216, 216);
}

.cart-top p:first-child {
  text-decoration: underline;
}

.cart-all {
  margin: 2rem;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shopping-cart {
  width: 100%;
}
.shopping-cart > h2 {
  border-bottom: 2px solid #dfdddd;
  color: rgb(145, 143, 143);
  font-weight: 500;
}
.cart-item {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cart-item img {
  width: 7rem;
}

.item-desc {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: #918f8f;
}
.item-desc h2 {
  color: #918f8f;
  font-weight: 500;
}
.counter {
  width: 20%;
  text-align: center;
}
.cart-summary {
  width: 100%;
}
.cart-summary h2 {
  border-bottom: 2px solid #dfdddd;
  color: #918f8f;
  font-weight: 500;
}
.coupon {
  padding: 0.6rem 0;
  font-weight: 600;
  border-bottom: 2px solid #dfdddd;
}
.subtotal {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #dfdddd;
}
.left-right,
.total {
  display: flex;
  justify-content: space-between;
}

.cart-btns {
  border-top: 2px solid #dfdddd;
  padding: 1rem 0;
}

button.next {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  background-color: rgb(82, 80, 80);
  color: #fff;
  margin-right: 0.5rem;
}

button.cancel {
  padding: 0.5rem 3rem;
  font-size: 1rem;
  background-color: rgb(221, 218, 218);
  color: #7a7878;
  margin-right: 0.5rem;
}

/********************** CART *********************/

/*********************** ABOUT *********************/
header .short-description {
  padding: 1rem;
}
.short-description h3 {
  margin-top: 0.2rem;
  text-align: center;
}
.meet-our-team {
  text-align: center;
  margin: 1rem 0 2rem 0;
}
.profile-image {
  width: 10rem;
  border-radius: 0.5rem;
}
figcaption {
  margin: 0.5rem 0;
  font-weight: 600;
}
.team {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.team-member figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************************ END ABOUT *******************/

/*********************** Add a product *********************/
.add-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#add-product {
  margin: 2rem 0.5rem;
  width: 100%;
}
#add-product label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
  width: 100%;
}
#product-name,
#product-description, #product-image-url, #product-price {
  border: 1px solid #b4dfe5;
  font-size: 1rem;
  padding: 0.5rem 0.3rem;
  color: #157e8b;
}
#product-name:focus,
#product-description:focus, #product-image-url:focus,
#product-price:focus {
  color: #0c7aad;
  outline: none;
  box-shadow: 0 0 0.3rem #b4dfe5;
}
#product-description {
  height: 5rem;
}
::placeholder {
  color: rgb(190, 189, 189);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
#add-product button {
  padding: 0.6rem 2.5rem;
  background-color: #27a243;
  color: #fff;
  float: right;
  font-size: 1rem;
  transition: all 0.4s;
  cursor: pointer;
}

#add-product button:hover {
  background-color: #0c7224;
}
/***********************END Add a product *********************/

/************************* ADMIN DASH **************************/






/*************************END ADMIN DASH **************************/

/*********************** ITEMS *********************************/

.add {
  display: flex;
  justify-content: flex-end;
}
#add-icon {
  width: 2rem;
  cursor: pointer;
  margin-right: 5rem;
}
.products {
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid rgb(204, 202, 202);
}
.product-card-body {
  padding: 1rem;
  width: 250px;
}
.product-card-name {
  font-size: 1.2rem;
  color: rgb(22, 22, 22);
}
.product-card-price {
  margin-top: 0.3rem;
  font-weight: 600;
}
/**************************** END ITEMS ************************/








@media only screen and (min-width: 600px) {
  .product-images,
  .product-stats {
    width: 42%;
  }

  .review-second-part {
    width: 70%;
  }

  .shopping-cart {
    width: 70%;
  }
  .cart-summary {
    width: 25%;
  }

  .team-member {
    width: 30%;
  }

  #add-product {
    width: 60%;
  }
}
